.textInputs{
    display: flex;
    flex-direction: column;
}

input{
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    color: black;
    background-color: rgb(235, 236, 237);
    border: 1px solid rgb(247, 154, 154);
    font-family: 'Aclonica', sans-serif;
}

button{
    background-color: black;
    color: #ffffff;
    border: 1px solid white;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
}

button:hover{
    cursor: pointer;
    color: black;
    background-color: #ffffff;
}
.contents{
    margin-top: 20px;
}

.contents>div{
    margin-top: 10px;
}
