.container{
    height: 100vh;
    width: 100%;
}

.landingContainer{
    height: 100%;
    display: grid;
    grid-template-rows: 15% 80%;
    gap: 5%;
}
.logoImage{
    height: 100%;
    width: 50%;
}

.logoImage>img{
    height: 65%;
    margin-top: 5px;
}

.description{
    display: flex;
    justify-content: flex-end;
}

.description_card{
    height: 95%;
    width: 40%;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

.description_card>h5{
    color: #61DAFB;
    text-align: center;
    font-size: 1.25rem;
    padding: 8px;
    letter-spacing: 1px;
}

.description_card>.explore{
    text-align: center;
}
.description_card>.explore>button{
    width: 120px;
}



