.container{
    height: 100vh;
    width: 100%;
}

.loginFormContainer{
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
}

.loginForm>.form{
    height: 50%;
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(249, 246, 246, 0.2), 0 6px 20px 0 rgba(250, 247, 247, 0.19) ;
    padding: 21px;
}

form>h1{
    color:#61DAFB;
    padding: 5px;
    font-size: 25px;
}

.textInputs{
    margin-top: 10px;
}

.loginForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.loginImage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginImage>img{
    width: 80%;
    height: 60%;
}