.container{
    height: 100vh;
    width: 100%;
}

.signupFormContainer{
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
}

.signupForm>.form{
    height: 75%;
    width: 50%;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(249, 246, 246, 0.2), 0 6px 20px 0 rgba(250, 247, 247, 0.19) ;
    padding: 21px;
}

form>h1{
    color: aliceblue;
    text-shadow: 0 0 3px #f6b9b9, 0 0 5px #a1a1d4;
    padding: 5px;
    font-size: 25px;
}

.textInputs{
    margin-top: 10px;
}

.signupForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.signupImage{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupImage>img{
    width: 80%;
    height: 60%;
}
