.container{
    height: 100vh;
    width: 100%;
}

.signupFormContainer{
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.signupForm>.form{
    height: 70%;
    width: 50%;
    background-color: #ffffff;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    padding: 20px;
}

.signupForm{
    background-color: rgba(24, 92, 205, 0.31);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.signupImage>img{
    width: 100%;
    height: 100%;
}
